* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 100px auto;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: 80px;
}
div button {
  max-width: 50%;
  color: white;
  background-color: rgb(13, 0, 255);
  padding: 10px 40px;
  border: none;
  margin-top: 20px;
}
div input {
  border-radius: 8px;
  max-width: 50%;
  padding: 10px 40px;
  margin-top: 10px;
}
div label {
  color: darkblue;
  font-family: sans-serif;
  font-size: 20px;
  text-wrap: wrap;
  max-width: 500px;
  line-height: 1.8;
}